.form-cadastro{
    display:flex;
    flex-direction: column;
    width:40%;
}
.cabecalho{
    width:100%;
    align-content: center;
}
.conteudo{
    display:flex;
    flex-direction: row;
    margin:0 16px 0 16px;
    width:100%;
}
.conteudo-principal{
    padding:0 24px 0 24px;
}
li{
    list-style-type: none;
}
header{
    text-align:center;
}